{% extends "grumblr/base2.html" %}
{% block setPassword-form %}
<div class = "getEmail">
  <h1 class = "title">Dont worry!</h1>
  <p>{{info}}</p>
  {% if not isSent %}
  <p>We will send an email to you!</p>
  <form action="{% url 'forget-password' %}" method="post">
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-envelope" id="basic-addon4"></span>
      {{emailForm.email}}
    </div>
  <input type="submit" value="Go" class="loginBtn btn">
    {% csrf_token %} 
  </form>
  {% else %}
  <a href="{% url 'login-page' %}">Go Back</a>
  {% endif %}
  <div class="error">
  {{emailForm.email.errors}}
  </div>
</div>
{% endblock %}